{
  "_comment": "ChatGPT(freemail)",

  "total_accounts": 12,
  "concurrent_workers": 4,

  "freemail_worker_domain": "your.freemail.domain",
  "freemail_token": "your_freemail_JWT_token",

  "proxy": "http://127.0.0.1:7890",

  "output_file": "accounts.txt",
  "log_level": "info",

  "enable_oauth": true,
  "oauth_issuer": "https://auth.openai.com",
  "oauth_client_id": "app_EMoamEEZ73f0CkXaXp7hrann",
  "oauth_redirect_uri": "http://localhost:1455/auth/callback",
  "ak_file": "ak.txt",
  "rk_file": "rk.txt",
  "token_json_dir": "codex_tokens",
  "upload_api_url": "http://localhost:8317/v0/management/auth-files",
  "upload_api_token": "your_cpa_dashboard_password"
}
